article figure img {
    margin-top: 2em;
    margin-bottom: 1.2em;
    border-radius: 1.2em;
    height: 300px;
    width: 100%;
    
    object-fit:cover;
    
    

}

.article {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.1em;
}

.article p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.5em;
    font-weight: 800;
}

.article h2 {
    font-weight: 600;
    font-size: large;
}